# Created by .ignore support plugin (hsz.mobi)

__pycache__
.idea

chains/
samynet.log

Owner.json
Beneficiary.json
Denis.json
William.json
Matt.json
User.json

main.py
utils.py

testing2.py
testing1.py
tests/